.wrapper-blopost {
    display: grid;
    grid-gap: 20px;
}

.author-container{
    background: var(--light);
    box-shadow: var(--shadow);
    display: grid;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 3rem;
    color: var(--dark);
    text-align:center;
    word-spacing: .15rem;
    width: 60%;
    
}
.author-text h1{
    text-transform: uppercase;
    padding: 3rem;


}
.author-text p{
    margin-right: 10rem;
    margin-left: 10rem;
}