@import"../css/media.css"; 
@import"../css/design.css";
@import"../css/author.css";


/* Media Queries */
@media(max-width:500px){
 
    .top-container{
        grid-template-columns:1fr ; 
        width: 100%;
    }
    
    .head-text {
        font-size: 0.8rem;
        align-content: center;
    }

    .author-text h1 {
        font-size: 1.2rem;
        margin: 0%;
        padding: .5rem;

    }
    .author-text p {
        font-size: 1.2rem;
        margin: 0%;
        padding: .5rem;
        text-align: center;
    }
    
  

     .showcase{
        padding-right: 2rem;
        padding-left: 2rem;
     }



}


/* Media Queries */
@media(max-width:700px){
     .wrapper{
        margin: 0%;
    }

    .top-container{
        grid-template-columns:1fr ; 
        padding: 0%;
    }
    .main-nav ul {
       width: auto;
       padding: 0%;
      }

    .head-text {
        font-size: 0.8rem;
    }

    .author-text h1 {
        font-size: 1.2rem;
        margin: 0%;
        padding: .5rem;

    }
    .author-text p {
        font-size: 1.2rem;
        margin: 0%;
        padding: .5rem;
        text-align: center;
    }
}


 @media(max-width:1100px){

    .top-container{
        grid-template-columns:1fr ; 
        padding: 0%;
    }
    .wrapper {
        display: grid;
        grid-gap: 20px; 
       
    }

    .author-info{
        grid-template-columns:1fr ; 
        padding: auto;
    }

    .author-text h1 {
        font-size: 1.2rem;
        margin: 0%;
        padding: .5rem;

    }
    .author-text p {
        font-size: 1.2rem;
        margin: 0%;
        padding: .5rem;
        text-align: center;
    }



} 